body {
    transition: background-color 0.5s ease;
}

body.light-mode {
    background-color: white;
    color: rgb(24, 23, 23);
}

body.dark-mode {
    background-color: rgb(24, 23, 23);
    color: white;
}

#theme-switcher {
    background: none;
    border: none;
    font-size: 2cm;
    position: absolute;
    margin-top: -3.8cm;
}
body.light-mode .title a,
body.light-mode .nav a,
body.light-mode .container-text {
    color: rgb(24, 23, 23);
}

body.dark-mode .title a,
body.dark-mode .nav a,
body.dark-mode .container-text {
    color: white;
}

#theme-switcher .fa-moon {
    /* color: #f1c40f; */
    font-size: 1.7cm;
    margin-left: 27cm;
    color:black;
}
#theme-switcher .fa-sun {
    color: #f1c40f;
    font-size: 2cm;
    margin-left: 27cm;
}

/* Make both components appear next to each other */
.title-container {
    margin-top: 1.6cm;
    margin-left: 5cm;
    display: flex;
    align-items: center;
    padding: 10px;
}
.title {
    margin-right: 10px;
    font-size: 24px;
}
.title a{
    color: #28313d;
    text-decoration: underline;
    color: #28313d;
    font-style: italic;
}
.title a:hover{
    text-decoration: dashed underline;
}
/* Navbar */
.nav{
    /* text-decoration: underline; */
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-left: 11.7cm;

}
.nav a{
    margin-top: -.84cm;
    font-size: 18.5px;
    margin-right: .8cm;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #28313d;
}

.nav a:hover{
    text-decoration: dashed underline;
    text-decoration-thickness: 1px;
}
.dot {
    height: 5px;
    width: 5px;
    border-radius: 50%;
    display: inline-block;
    margin-top: -.55cm;
    margin-left: -0.1cm;
    margin-right: 0.8cm;
}

body.light-mode .dot {
    background-color: #28313d;
}

body.dark-mode .dot {
    background-color: white;
}
.About{
    font-family: "Source Serif Pro", monospace, sans-serif;
    font-size: 3.21rem;
    font-weight:220;
    margin-bottom: 96px;
    display: block;
    margin: 2cm 5.3cm;
}
.line{
    width: 24.5cm;
    margin-top: -1cm;
    margin-left: 5.20cm;
    color: #28313d;
}
.about-me{
    height: 15cm;
    display: flex;
    flex-direction: row;
    width: 69%;
    /* background-color: blue; */
    margin-top: 1.5cm;
    margin-left: 5.4cm;
}
.container-img img{
    height: 8.6cm;
    width: 7.2cm;
    margin-left: -.20cm;
    border-radius: 3%;
}
.container-text{
    font-size: 17px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 200;
    margin-top: -.2cm;
    color: #28313d;
    font-weight:400 ;
    height: 15cm;
    width: 74%;
    line-height: 1.55;
    margin-left: 0.3cm;
}
.container-text a{
    color: #28313d;
}

rt {
    display: ruby-text;
    font-size: 11px;
    text-align: start;
}
body.light-mode .container-text a {
    color: #28313d;
}

body.dark-mode .container-text a {
    color: white;
}
.Collab-heading{
    font-family: "Source Serif Pro", monospace, sans-serif;
    font-size: 1.8rem;
    font-weight:220;
    margin-bottom: 96px;
    display: block;
    margin: 1.5cm 5.3cm;
}
.Collab{
    height: 15cm;
    width: 50%;
    /* background-color: blue; */
    margin-left: 7.1cm;
    margin-top: -1cm;

}

/* Collab Form */
.form{
    margin-left: 2cm;
}

.form h3{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size:1.5rem;
    font-weight: 300;
}
.details input{
    border-radius: 0.2cm;
    width: 100%;
    margin-top: -0.2cm;
    font-family: "Source Serif Pro", monospace, sans-serif;
    height: 1.3cm;
}
.details textarea{
    border-radius: 0.2cm;
    width: 100%;
    margin-top: -0.2cm;
    font-family: "Source Serif Pro", monospace, sans-serif;;
    height: 4cm;
}
.form button{
    width: 20%;
    height: 1cm;
    border-radius: 0.2cm;
    background-color: black;
    color: azure;
    margin-top: 2%;
    margin-left: 81%;
}
body.light-mode .form button{
    background-color: black
}

body.dark-mode .form button {
background-color: white;
color: black;
}
.form button span{
    font-size: 0.97rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

