body {
    background:white;
}

/* Make both components appear next to each other */
.title-container {
    margin-top: 1.6cm;
    margin-left: 5cm;
    display: flex;
    align-items: center;
    padding: 10px;
}
.title {
    margin-right: 10px;
    font-size: 24px;
}
.title a{
    color: #28313d;
    text-decoration: underline;
    color: #28313d;
    font-style: italic;
}
.title a:hover{
    text-decoration: dashed underline;
}
/* Navbar */
.nav{
    /* text-decoration: underline; */
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-left: 11.7cm;

}
.nav a{
    margin-top: -.82cm;
    font-size: 18.5px;
    margin-right: .8cm;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #28313d;
}

.nav a:hover{
    text-decoration: dashed underline;
    text-decoration-thickness: 1px;
}
.dot {
    height: 5px;
    width: 5px;
    background-color:#28313d;
    border-radius: 50%;
    display: inline-block;
    margin-top: -.54cm;
    margin-left: -0.1cm;
    margin-right: 0.8cm;
}
.About{
    font-family: "Source Serif Pro", monospace, sans-serif;
    font-size: 3.25rem;
    font-weight:100;
    margin-top: 0;
    margin-bottom: 96px;
    display: block;
    margin: 3cm 5.1cm;
}



