body {
    background:white;
}

/* Blinking terminal icon after title */
@keyframes blink {
    0% {opacity: 1;}
    50% {opacity: 0;}
    100% {opacity: 1;}
}

.command-icon {
    animation: blink 1s linear infinite;
    font-size: 12.3px; /* Adjust this value to change the size of the icon */
    font-weight:bold;

}

.command-box {
    border: 1.9px solid #000;
    padding: 1.5px;
    height: 0.38cm;
    margin-left: -0.15cm;
    margin-top: 0.10cm;
    width: 12.5px; /* Adjust this value to change the size of the box */
}
/* Make both components appear next to each other */
.title-container {
    margin-top: 1.8cm;
    margin-left: 5cm;
    display: flex;
    align-items: center;
    padding: 10px;
}
.title {
    margin-right: 10px;
    font-size: 24px;
    text-decoration: underline;
}

/* Navbar */
.nav{
    text-decoration: underline;
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-top: -1.77cm;
    margin-left: 14cm;

}
.nav a{
    color: #000;
    margin-top: 1cm;
    font-size: 18.5px;
    margin-right: 1.3cm;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

